body{
    font-family: "Protest Riot", sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    /* text-align: center; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #3A3A5F;
}

.container{
    /* align-items: baseline; */
    border: 2px white solid;
    border-radius: 10px;
    width: 180px;
    height: 180px;
    padding: 4px;
}

.container-item{
    height: 140px;
    border: 1px white solid;
    padding: 4px;
    border-radius: 4px;
}

button{
    border-radius: 4px;
}

.row-0, .row-1,.row-2,.row-3,.row-4{
    padding: 2px;
}

.delete , .clear{
    background-color: #5781FF;
    border: 2px #5781FF solid;
    width: 80px;
    color: white;
}

.clear{
    background-color: #94ABF0;
    border: 2px #94ABF0 solid;
}

.number, .operator, .equal{
    width: 38px;
}

/* Customize the buttons */
.operator, .equal{
    background-color: #353555;
    color: white;
    border: 1px white solid;
    padding: 2px;
}

.number{
    color: white; 
    background-color: #494974;
    border: 1px #BAEDFC solid;
}

/* Customize display box*/
.display{
    border-radius: 4px;
    /* width: 82px; */
    background-color: white;
    height: 20px;
    border: 1px white solid;
    padding: 2px;
    margin-bottom: 2px;
    text-align: right;
}

h3{
    color: white;
}




